<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tridhyatech\ApiCrud\Api\BlogRepositoryInterface" type="Tridhyatech\ApiCrud\Model\BlogRepository" />
    <preference for="Tridhyatech\ApiCrud\Api\Data\BlogInterface" type="Tridhyatech\ApiCrud\Model\Blog"/>
    <preference for="Tridhyatech\ApiCrud\Api\Data\BlogSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
</config>