<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Tridhyatech\CouponCode\Model\ConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="config_provider" xsi:type="object">Tridhyatech\CouponCode\Model\DefaultConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>