<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tridhyatech" translate="label" sortOrder="10">
            <label>Tridhya Tech</label>
        </tab>
        <section id="slider" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Slider Config.</label>
            <tab>tridhyatech</tab>
            <resource>Tridhyatech_Mehul::tridhyatech_config</resource>
            <group id="feature" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Featured Product</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="heading_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Header</label>
                    <comment>This text will display on the frontend.</comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="number_of_product" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number Of Product to Display</label>
                    <validate>validate-digits validate-digits-range digits-range-1-100</validate>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="product_per_silde" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number Of Product Per Slide</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="add_to_cart" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add To Cart Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="add_to_wishlist" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add To Wishlist Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="placeholder" type="image" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <!-- <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model> -->
                    <upload_dir config="system/filesystem/media" scope_info="1">tridhya/image</upload_dir>
                    <base_url type="media" scope_info="1">tridhya/image</base_url>
                </field>
            </group>
            <group id="new" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>New Product</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="heading_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Header</label>
                    <comment>This text will display on the frontend.</comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="number_of_product" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number Of Product to Display</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="product_per_silde" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number Of Product Per Slide</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="add_to_cart" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add To Cart Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="add_to_wishlist" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add To Wishlist Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="bestsellers" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Bestsellers Product</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="heading_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Header</label>
                    <comment>This text will display on the frontend.</comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="number_of_product" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number Of Product to Display</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="product_per_silde" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number Of Product Per Slide</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="add_to_cart" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add To Cart Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="add_to_wishlist" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add To Wishlist Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="mostview" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Most View Product</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="heading_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Header</label>
                    <comment>This text will display on the frontend.</comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="number_of_product" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number Of Product to Display</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="product_per_silde" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number Of Product Per Slide</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="add_to_cart" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add To Cart Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="add_to_wishlist" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add To Wishlist Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="recentordered" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Recent Ordered Product</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="heading_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Header</label>
                    <comment>This text will display on the frontend.</comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="number_of_product" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number Of Product to Display</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="product_per_silde" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number Of Product Per Slide</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="add_to_cart" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add To Cart Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="add_to_wishlist" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add To Wishlist Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>